################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/*/.vs
/*/.vs/*
/*/obj
/*/obj/*
*/obj/*
/*/*/obj
/*/*/obj/*
/*/bin
/*/bin/*
*/bin/*
TemporaryGeneratedFile_*.cs
*.cache
*.suo
*.user
*.dll
*.xml
*.pdb
*._
*.p7s
*.ps1
*.psd1
*.psm1
*.exe
*.force
*.CopyComplete
*.FileListAbsolute.*
*.exe.config
*.dll.config
