################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/*/.vs
/*/.vs/*
/*/obj
/*/bin
TemporaryGeneratedFile_*.cs
*.cache
*.suo
*.user
*.dll
*.xml
