<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="EntityFramework.CodeFirst" version="1.0.7" targetFramework="net45" />
  <package id="EntityFramework.CodeFirstStoreFunctions" version="1.1.2" targetFramework="net45" />
</packages>